{% extends 'base.html'%}
{% import 'macros.html' as macro%}
{% block styles%}
{{ super() }}
<link rel="stylesheet" href="{{url_for('static',filename='index.css')}}">
{% endblock %}


<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    {% if title %}
    <title> {{ title }}</title>
    {% else %}
    <title>Formidablog </title>
    {% endif %}
</head>

<body>
{% block content %}
<div class="upper-content">
<h1 class="heading">Welcome to Formidablog!</h1>
<h3 id="sub-title"><strong>"create, read & share stunning poems"</strong></h3>
</div>

<div class="view-blogs">
<h1 class="heading" style="color:black">Blogs</h1>
    <div class="row">
        <div class="form1">
            <div>
                {% for blog in blog %}
                <div class="form3">
                    <div>
                        <img class="img-responsive" src="{{url_for('static', filename=blog.image)}}" alt="">
                    </div>
                    <h2>{{blog.blog_title}}</h2>
                    <div class="btn">
                        <a href="{{url_for('main.display',id =blog.id)}}">view full blog</a>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        </div>
    </div>
{% endblock%}

</body>
</html>
